/*.header__banner > img{
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;;
}*/

.header__banner{
    width: 100%;
    height: 995px;
    background: #000000 url("../images/header__banner.png") 100% no-repeat;
}
.header__logo{
    color: #ffffff;
}
.header__logo > h3{
    color: #ffffff;
}
.header__menu {
    padding-top: 10px;
    float: right;
}

.menu__item {
    display: inline-block;
    padding: 15px;
}

.header__menu--active, .header__menu--link-default:hover {
    border-bottom: solid 4px #ffca26;
    padding-bottom: 10px;
}

.menu__item > .header__menu--link-default, i {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

.header__title{
    top: 18%;
}
.header__title--italic, .header__title--default{
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
}

.header__title--italic{
    font-style: italic;
    font-size: 40px;
}

.header__title--default{
    font-weight: 800;
    font-size: 100px;
}
.header__title--divider{
    border: solid 2px #ffffff;
    width: 4%; 
    margin: 0 0 3% 48%;
}
.header__title--button{
    text-align: center;
}
.header__button--link, .header__button--link:hover {
    border: solid 3px #ffffff;
    color: #ffffff;
    text-decoration: none;
    padding: 5px 20px 5px 20px;
}

#what-we-do{
    margin: 30px 0 30px 0;
}

.content__title--italic{
    font-style: italic;
    font-size: 20px;
    text-align: center;
    
}

.content__title--default{
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;  
}

.content__default{
    text-align: center;
}

.content__title--divider{
    border: solid 2px #d98080;
    width: 4%; 
    margin: 0 0 3% 48%;
}

.content__images--hover:hover img {
    opacity: .5;
}

#counting{
    margin: 30px 0 5px 0;
    background: #aee0d2;
    position: relative;
}

.counting__title--default{
    color: #ffffff;
    font-weight: 800;
    font-size: 35px;
    text-align: center;
}

.counting__info{
    color: #ffffff;
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;
}

#for-all-devices{
    position: relative;
    width: 100%;
    height: 917px;
    background: transparent url("../images/for-all-devices.png") 50% no-repeat;
}

#for-all-devices > .content__title {
    margin-top: 90px;
}

#brands{
    margin: 30px 0 30px 0;
    background: #f8f8f8;
    position: relative;
}

.brands__image--default{
    margin: 20px;
}

#some-of-our-work{
    padding: 0;
}

.content__work{
    padding: 0;
    display: inline-block;
}
.content__work--column-one{
    float: left;
    margin: 0;
    width: 50%;
}

.content__work--column-two{
    float: left;
    margin: 0;
    width: 50%;
    /*height:714px;*/
}
.content__work--column-three{
    float: right;
    margin: 0;
    width: 50%;
}

.content__work--column-one:hover, .content__work--column-two:hover, .content__work--column-three:hover {
    opacity: .5;
}

#mogo-footer{
    margin: 0 0 30px 0;
    background: #f8f8f8;
    position: relative;
    bottom: 0;
}

.footer{
    border-bottom: solid 1px #e4e4e4;
    padding-bottom: 60px;
}

.footer__title{
    color: #cccccc;
    font-weight: 800;
    text-align: center;
}

.footer__content{
    color:#cccccc;
    margin-right: 30px;
}

.social__network{
    border-top: solid 1px #e4e4e4;
    text-align: center;
}
.social__network > span {
    color:#cccccc;
    font-style: italic;
}

.social__network > a > i{
    color: #aee0d2;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
}

.social__network > a:hover{
    text-decoration: none;

}

.form__input{
    border: solid 1px #e6e6e6;
    font-style: italic;
    color:#cccccc;
    padding: 7px;
    width: 50%;
}

.form__button--submit{
    background: #aee0d2;
    color: #ffffff;
    border: none;
    padding: 8px;
    margin: -4px;
    width: 30%;
}

.footer__copyright{
    color:#cccccc;
    text-align: center;
    padding: 10px;
}

.footer__company, .footer__company:hover{
    color: #f0dede;
}